<!DOCTYPE html>
<html>
  <head>
    <title>小事亭登入</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
      <div class="register">
          <div class="title">小事亭生鮮超市</div>
          <div class="row">
            <div class="col-md-2 col-sm-2 col-xs-2">
              <h4>帳號</h4>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-10">
              <input class="form-control" placeholder="電子信箱"/>
            </div><br/>
          </div>
          <div class="row">
            <div class="col-md-2 col-sm-2 col-xs-2">
              <h4>密碼</h4>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-10">
              <input class="form-control" type="text" placeholder="輸入密碼"/>
            </div>
          </div>
          <button class="btn btn-success" onclick="location.href='main'">登入</button>
          <button class="btn btn-default" onclick="location.href='register'">註冊</button>
      </div>
  </body>
</html>
