<!DOCTYPE html>
<html>
  <head>
    <title>小事亭生鮮超市</title>
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>        
    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="./main">小事亭生鮮超市</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling-->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav"></ul>
        <form class="navbar-form navbar-left">
            <div class="form-group">
            <input class="form-control" type="text" placeholder="Search"/>
            </div>
            <button class="btn btn-success" type="submit">搜尋食材</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="＃">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="./login">登出</a></li>
        </ul>
        </div>
    </div>
    </nav>
    <div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4">
        <div class="thumbnail"><img src="https://upload.cc/i/ny0A7R.jpg" alt="..."/>
            <div class="caption">
            <h3>楊桃</h3>
            <p>21 元/公斤</p>
            <p>
            <select name="" id="">
              <option value="">請選擇數量</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="more">更多</option>
            </select>
            <a class="btn btn-success" href="#" role="button">加入購物車</a>
            </p>
            </div>
        </div>
        </div>
        <div class="col-sm-6 col-md-4">
        <div class="thumbnail"><img src="https://upload.cc/i/KRXUyV.jpg" alt="..."/>
            <div class="caption">
            <h3>木瓜</h3>
            <p>33 元/公斤</p>
            <p>
            <select name="" id="">
              <option value="">請選擇數量</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="more">更多</option>
            </select>
            <a class="btn btn-success" href="#" role="button">加入購物車</a>
            </p>
            </div>
        </div>
        </div>
        <div class="col-sm-6 col-md-4">
        <div class="thumbnail"><img src="https://upload.cc/i/ORPDNx.jpg" alt="..."/>
            <div class="caption">
            <h3>番石榴</h3>
            <p>23 元/公斤</p>
            <p>
            <select name="" id="">
              <option value="">請選擇數量</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="more">更多</option>
            </select>
            <a class="btn btn-success" href="#" role="button">加入購物車</a>
            </p>
            </div>
        </div>
        </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail"><img src="https://upload.cc/i/tZl9If.jpg" alt="..."/>
            <div class="caption">
            <h3>櫻桃-進口</h3>
            <p>500 元/公斤</p>
            <p>
            <select name="" id="">
              <option value="">請選擇數量</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="more">更多</option>
            </select>
            <a class="btn btn-success" href="#" role="button">加入購物車</a>
            </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail"><img src="https://upload.cc/i/kznfh1.jpg" alt="..."/>
            <div class="caption">
            <h3>蓮霧</h3>
            <p>50 元/公斤</p>
            <p>
            <select name="" id="">
              <option value="">請選擇數量</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="more">更多</option>
            </select>
            <a class="btn btn-success" href="#" role="button">加入購物車</a>
            </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail"><img src="https://upload.cc/i/spfrlx.jpg" alt="..."/>
            <div class="caption">
            <h3>椪柑</h3>
            <p>14 元/公斤</p>
            <p>
            <select name="" id="">
              <option value="">請選擇數量</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="more">更多</option>
            </select>
            <a class="btn btn-success" href="#" role="button">加入購物車</a>
            </p>
            </div>
        </div>
    </div> 
    </div>
    <div class="text-center">
        <ul class="pagination">
        <li><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
        <li><a href="./main">1</a></li>
        <li class="active"><a href="./page2">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
        </ul>
    </div>
    </div>
    <div class="fixed"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></div>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>
  </body>
</html>